* {
  margin: 0;
  padding: 0;
}

nav {
  margin: auto;
  text-align: center;
  width: 100%;
  font-family: arial;
}

nav ul {
  background: #37988e;
  list-style: none;
  position: relative;
  display: inline-table;
  width: 100%;
}

nav ul li {
  float: left;
}

nav ul li:hover {
  background: #d68d9a;
}

nav ul li:hover .nav-item {
  color: #000;
}

ul li .nav-item {
  display: block;
  padding: 25px;
  color: #fff;
  text-decoration: none;
}
